[submodule "lib/amiitool/amiitool-src"]
	path = lib/amiitool/amiitool-src
	url = https://github.com/socram8888/amiitool/
[submodule "lib/amiitool/mbedtls"]
	path = lib/amiitool/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "lib/ColorCout"]
	path = lib/ColorCout
	url = https://github.com/YuzukiTsuru/ColorCout
[submodule "lib/libnfc/nfc"]
	path = lib/libnfc/nfc
	url = https://github.com/nfc-tools/libnfc
